body 
{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(27, 22, 22);
}
h1 
{
  text-align: center;
  text-transform:capitalize;
}
video 
{
  max-width:700px;
}